#content{
  background-image: url('hra_background.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
  position: relative;
  height: 55.3vw;;
}
/* all child of content abs */
#content > * {
  position: absolute !important;
  height: inherit;
}

#animal{
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  height: 30%;
}

/* HTML: <div class="tooltip">This is the same as #13 but with more control over the tail</div> */

.tooltip {
  
  --b: 2em; /* base */
  --h: 20%; /* height */

  --p: 34%;  /* main position (0%:left 100%:right) */
  --x: -2em; /* tail position (relative to the main position). Can be percentage */
  --r: 1.2em; /* the radius */

  top:10%;

  --_e: max(0%,-1*var(--x) - var(--p),var(--x) + var(--p) - 100%);
  padding: 1em;
  border-radius: var(--r) var(--r) min(var(--r),100% - var(--p) - var(--b)/2) min(var(--r),var(--p) - var(--b)/2)/var(--r);
  background: 50% 0/calc(100% + 2*var(--_e)) calc(100% + var(--h)) 
    linear-gradient(60deg,#CC333F,#4ECDC4); /* the gradient */
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 18px;
  width: 30%;
  left: 60%;
  text-align: center;
}
.tooltip:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0 calc(-1*var(--_e)) calc(-1*var(--h));
  padding-inline: var(--_e);
  background-image: inherit;
  clip-path: polygon(50% 50%,
    clamp(var(--b),var(--p) + var(--b)/2,100%) calc(100% - var(--h)),
    calc(var(--p) + var(--x)) 100%,
    clamp(0%,var(--p) - var(--b)/2,100% - var(--b)) calc(100% - var(--h))) content-box;
}

#speech-text {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

#kitchen{
   height: auto;
}

#chopping-board{
  top: 70%;
  width: 55%;
  height: 25%;
  left: 10%;
  background-image: url('hra_chopping-board.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
}
#chopping-area{
  position: relative;
  top: 25%;
  left: 45%;
  width: 50%;
  height: 55%;
}
#chopping-area img {
  position: absolute;   /* allow free placement */
  object-fit: contain;
  height: 80%;

}

#plate{
  top: 61%;
  width: 38%;
  height: 35%;
  left: 64%;
  background-image: url(hra_plate.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#plate-area{
    position: relative;
    width: 71%;
    height: 65%;
    top: 27%;
    left: 6%;
}
#plate-area img {
  position: absolute;   /* allow free placement */
  object-fit: contain;
  height: 60%;
}

#item-shelve {
  display: flex;
  flex-direction: column;
  gap: 1%;
  margin: 1.5% 0 0 1.5%;
  width: 13%;
  height: 95%; /* so the flex container fills parent height */
}

.item{
 margin-top: 14%;
}
.item.enlarged {
  transform: scale(1.5); /* enlarge 1.5x */
  transition: transform 0.3s ease;
  z-index: 10; /* so it appears above other elements */
}
#item-shelve .item:last-child {
  margin-top: auto;
  width: 111%;
}

.stars {
  top: 2%;
  left: 20%;
  position: relative;
  height: 5.4%;
  width: 70%;
}
.stars > * {
  width: 29%;
  
}

#chopping-board img {
  position: absolute;   /* allow free placement */
  object-fit: contain;
}
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-2deg); }
  20% { transform: translate(2px, 2px) rotate(2deg); }
  30% { transform: translate(-2px, 2px) rotate(-2deg); }
  40% { transform: translate(2px, -2px) rotate(2deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(1px, -1px) rotate(1deg); }
  70% { transform: translate(-1px, 1px) rotate(-1deg); }
  80% { transform: translate(1px, -1px) rotate(1deg); }
  90% { transform: translate(-1px, 1px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

#chopping-board.shake {
  animation: shake 0.5s ease;
}