#content{
  background-image: url('hra_background.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
  position: relative;
}

#kitchen{

}

#chopping-board{
  position: absolute;
  top: 70%;
  width: 55%;
  height: 25%;
  left: 13%;
  background-image: url('hra_chopping-board.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
}
#chopping-area{
  position: relative;
  top: 25%;
  left: 45%;
  width: 50%;
  height: 55%;
}


#plate{
  position: absolute;
  top: 65%;
  width: 30%;
  height: 25%;
  left: 70%;
  background-image: url('hra_plate.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
}


#item-shelve {
  display: flex;
  flex-direction: column;
  gap: 1%;
  margin: 1.5% 0 0 1.5%;
  width: 13%;
  position: absolute;
  height: 95%; /* so the flex container fills parent height */
}
.food-item{
 margin-top: 14%;
}
.food-item.enlarged {
  transform: scale(1.5); /* enlarge 1.5x */
  transition: transform 0.3s ease;
  z-index: 10; /* so it appears above other elements */
}
#item-shelve .food-item:last-child {
  margin-top: auto;
}

#chopping-board img {
  position: absolute;   /* allow free placement */
  object-fit: contain;
}
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-2deg); }
  20% { transform: translate(2px, 2px) rotate(2deg); }
  30% { transform: translate(-2px, 2px) rotate(-2deg); }
  40% { transform: translate(2px, -2px) rotate(2deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(1px, -1px) rotate(1deg); }
  70% { transform: translate(-1px, 1px) rotate(-1deg); }
  80% { transform: translate(1px, -1px) rotate(1deg); }
  90% { transform: translate(-1px, 1px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

#chopping-board.shake {
  animation: shake 0.5s ease;
}